/* 
VARIABLES AND FONTS
GLOBAL STYLING
GLOBAL TEXT STYLING
MEDIA STYLING
COMPONENT STYLING
BUTTON AND CHECKBOX STYLING
FLEX SECTION
COMPONENTS IN FLEX
GRID SECTION
DIV STYLING
QUERIES
INPUT STYLING

/* VARIABLES AND FONTS */

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Regular.ttf");
}

:root {
  --orange: #eba41f;
  --darkblue: #09293c;
  --blue: #0d3d59;
  --white: #ffff;
  --brown: #705133;
  --grey: #646464;
  --lightgrey: #e5e5e5;
  --black: #303030;
}

/* GLOBAL STYLING */

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0;
  font-family: "Bebas";
  /* border: 1px solid red; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h3,
h4,
input,
label,
span,
#flex_agree {
  font-family: "Mont";
}

.container {
  position: relative;
}

/* GLOBAL TEXT STYLING */

h2 {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

/* TEXT STYLING */

#flex_text h2 {
  margin-bottom: 20px;
  margin-right: 30px;
}

#grid1 h2 {
  color: var(--white);
  padding-top: 54px;
  padding-bottom: 45px;
}

#flex_2_right {
  margin-left: 3%;
}

#flex_2_right h2 {
  color: var(--white);
  font-size: 60px;
  line-height: 72px;
  margin-top: 40px;
}

span {
  font-size: 20px;
}

#div1 h2 {
  margin-bottom: 20px;
}

#textbox2 h2 {
  margin-bottom: 20px;
}

#textbox2 h4 {
  font-size: 18px;
  line-height: 30px !important;
  margin: 20px 0px;
}

input {
  background-color: var(--lightgrey);
  font-size: 18px;
  line-height: 22px;
}

#flex4 h3 {
  font-size: 50px;
  line-height: 60px;
  font-family: "Bebas";
}

#alttext {
  color: var(--orange);
  padding-top: 10px;
}

/* MEDIA STYLING */

#logo {
  padding: 20px;
  margin-left: 110px;
}

#banner {
  min-width: 100%;
}

#flex_1_img {
  width: 100%;
}

#gridimage {
  border-radius: 50%;
}

.partner-img {
  align-items: center;
}

/* COMPONENT STYLING */

#textbox1 {
  width: 530px;
  position: absolute;
  left: 55%;
  top: 110px;
  z-index: 5;
  background-color: var(--darkblue);
  border-radius: 6px;
  color: var(--white);
  padding: 30px;
}

#flex_item_1 {
  padding: 30px 20px 30px 150px;
}

.griditem {
  font-size: 35px;
  line-height: 42px;
  color: var(--orange);
  padding: 10px 40px;
  min-width: 100%;
}

ol {
  list-style-position: outside;
  margin-left: 0;
  padding-left: 0px;
  line-height: 42px;
}

li::marker {
  color: var(--orange);
  font-size: 35px;
}

li:first-child {
  margin-top: 12px;
}

li {
  font-family: "Bebas";
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 10px;
  font-size: 18px;
}

/* BUTTON AND CHECKBOX */

button {
  border: none;
}

#button1 {
  font-size: 25px;
  line-height: 30px;
  color: var(--white);
  position: static;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  float: right;
  background-color: var(--orange);
  border-radius: 6px;
  margin-top: 10px;
}

#button1:hover {
  background-color: var(--blue);
}

#button1:active {
  background-color: var(--lightgrey);
  color: black;
}

#button2 {
  background-color: var(--grey);
  margin-top: 5px;
  color: var(--white);
  font-size: 20px;
  line-height: 25px;
  padding: 5px 20px;
  margin: 0 auto;
  float: right;
  border-radius: 4px;
  margin-bottom: 10px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

#button2:hover {
  background-color: var(--darkblue);
}

#button2:active {
  background-color: var(--orange);
}

.checkbox_text {
  position: relative;
  top: 13px;
  left: 5px;
  font-size: 16px;
}

#checkbox {
  position: relative;
  top: 17px;
}

input[type="checkbox"] {
  vertical-align: top;
  text-align: center;
  display: inline-flex;
  appearance: none;
  height: 13px;
  width: 13px;
  background-color: var(--white);
  border-radius: 1px;
  border: 1px solid var(--orange);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: none;
  left: 4px;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 10px;
  color: var(--orange);
  display: none;
}

input[type="checkbox"]:hover {
  background-color: var(--white);
}

input[type="checkbox"]:checked {
  background-color: var(--white);
}

input[type="checkbox"]:checked:after {
  display: block;
}

/* FLEX SECTION */

#flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
}

#flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown);
}

#flex3 {
  display: flex;
  justify-content: center;
  background-image: url(../img/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 100px;
}

/* COMPONTENTS IN FLEX */

#flex_text_2 {
  flex: 40%;
  color: var(--white);
  padding-left: 20px;
  padding-right: 40px;
}

#flex_text_3 {
  padding: 20px;
  margin: 30px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

#flex_img {
  flex: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  object-fit: contain;
  padding-left: 10%;
}

.flex_item {
  flex: 50%;
}

.flex_item_small {
  flex: 40%;
}

.flex_item_large {
  flex: 60%;
}

#flex_input {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 30px;
  float: left;
  width: 570px;
  margin-bottom: 20px;
  color: var(--black);
}

#flex_input_email {
  width: 65%;
  max-width: stretch;
}

.flex_input_item-1 {
  width: 55%;
}

.flex_input_item-2 {
  width: 40%;
}

#flex_input_name {
  width: 100%;
}

#flex_input_email {
  width: 100%;
}

#flex_agree {
  padding-top: 80px;
  font-size: 15px;
  line-height: 22px;
}

#partners {
  display: flex;
  align-items: center;
  padding: 35px 0px;
}

/* GRID SECTION */

#grid1 {
  text-align: center;
  background-image: url(../img/grid/gridbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 40px;
}

#gridarea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 200px;
  height: 100%;
}

/* DIV STYLING*/

#div1 {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 60px 20%;
  line-height: 30px;
}

#flex4 {
  padding: 3% 10%;
}

/* QUERIES */

@media only screen and (max-width: 1200px) {
  #gridarea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px 200px;
  }
}

/* INPUT STYLING */

.input_label {
  font-size: 15px;
  padding-bottom: 15px;
  color: black;
}

.input_field {
  margin-bottom: 20px;
  margin-left: auto !important;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  padding: 5px;
}

#flex_input {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.flex_input_item_2 {
  width: 42%;
}

#flex_agree {
  margin-right: 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--black);
  opacity: 1;
}
